:root {
    --black: #282A34;
    --blue: #3C3F51;
    --red: #E2336B;
    --orange: #FCAC46;
    --white: #FFFFFF;
}

.App {
    display: grid;
    grid-template-columns: 0 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'sidebar main';
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
}

@media only screen and (min-width: 996px) {
    .App {
        grid-template-columns: 300px 1fr;
        grid-template-areas: 
            'sidebar main';
    }
}
